.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.colorInputs {
  margin-top: auto;
  padding: 48px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  width: 100%;
  max-width: 700px;
}

.header {
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  width: 100%;
  font-size: 40px;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner > *:first-child {
  margin-right: 24px;
}
